---
layout: default
title: Home
description: Home page of Julian Jupiter website on GitHub Pages.
keywords: Blog, GitHub, Programming, Java, Linux, Web
---
    <!-- Post -->
    <div class="container">{% for post in site.posts %}
        <hr class="divider">
        <div class="row">{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}{% if thecycle == 'odd' %}
            <div class="col-sm-6 postOdd order-1">
                <h3 class="featurette-heading"><a href="{{ post.url | prepend: site.github.url }}" title="{{ post.description }}">{{ post.title }}</a></h3>
                <p class="text-muted"><info datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</info> &#124; <a href="{{ post.url | prepend: site.github.url }}index.html#disqus_thread" data-disqus-identifier="{{post.url}}"></a></p>
                <p class="lead">{{ post.description }}</p>
                <p class="lead">
                <a class="btn btn-secondary btn-lg" href="{{ post.url | prepend: site.github.url }}" role="button">Read more...</a>
                </p>
            </div>
            <div class="col-sm-6 postThumbnailOdd order-2">
                <img class="img-fluid mx-auto" src="/assets/images/{{ post.thumbnail }}" data-src="holder.js/500x200/auto" alt="Generic placeholder image">
            </div>{% else %}
            <div class="col-sm-6">
                <img class="img-fluid mx-auto" src="/assets/images/{{ post.thumbnail }}" data-src="holder.js/500x200/auto" alt="Generic placeholder image">
            </div>
            <div class="col-sm-6">
                <h3 class="featurette-heading"><a href="{{ post.url | prepend: site.github.url }}" title="{{ post.description }}">{{ post.title }}</a></h3>
                <p class="text-muted"><info datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</info> &#124; <a href="{{ post.url | prepend: site.github.url }}index.html#disqus_thread" data-disqus-identifier="{{post.url}}"></a></p>
                <p class="lead">{{ post.description }}</p>
                <p class="lead">
                <a class="btn btn-secondary btn-lg" href="{{ post.url | prepend: site.github.url }}" role="button">Read more...</a>
                </p>
            </div>{% endif %}
        </div>{% endfor %}
    </div>
