<hr>	
<div class="container-fluid" style="padding-top: 10px; padding-bottom: 5px; background-color: rgb(128, 128, 128);">
	<div class="row">
		<div class="col-sm-12" style="text-align: center">
			<p class="copyright">
				All contents copyright by Julian Jupiter<br>
				&copy; 2016 All Rights Reserved<br>
				Proudly hosted by <a href="https://github.com">GitHub</a>
        		</p>
		</div>
	</div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
