<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://julianjupiter.github.io/">Julian Jupiter's Hub</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse mynavbar">
          <ul class="nav navbar-nav">
            <li{% if page.title == "Home" %}{{' class="active"'}}{% endif %}><a href="http://julianjupiter.github.io/">Home</a></li>
            <li{% if page.title == "About" %}{{' class="active"'}}{% endif %}><a href="http://julianjupiter.github.io/about/">About</a></li>
            <li{% if page.title == "Contact" %}{{' class="active"'}}{% endif %}><a href="http://julianjupiter.github.io/contact/">Contact</a></li>
            <li{% if page.title == "Blogs" %}{{' class="active"'}}{% endif %}><a href="http://julianjupiter.github.io/blogs/">Blogs</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
