        <header>
            <div class="collapse bg-dark" id="navbarHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-7 py-4">
                            <h4 class="text-white">About</h4>
                            <p class="text-muted">{{ site.description }}</p>
                        </div>
                        <div class="col-sm-4 offset-md-1 py-4">
                            <h4 class="text-white">Contact</h4>
                            <ul class="list-unstyled">
                                <li><a href="https://github.com/julianjupiter" class="text-white">Follow on GitHub</a></li>
                                <li><a href="https://gitlab.com/julianjupiter" class="text-white">Follow on GitLab</a></li>
                                <li><a href="https://www.facebook.com/julianjupiter" class="text-white">Add on Facebook</a></li>
                                <li><a href="https://twitter.com/julianvjupiter" class="text-white">Follow on Twitter</a></li>
                                <li><a href="mailto:julianjupiter.io@gmail.com" class="text-white">Email me</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 py-4">
                          <h4 class="text-white">Links</h4>
                          <ul class="list-unstyled">
                            <li><a href="/blog" class="text-white">Blog</a></li>
                            <li><a href="/projects" class="text-white">Projects</a></li>
                            <li><a href="//tutorials.julianjupiter.com" class="text-white">Tutorials</a></li>
                            <li><a href="//projects.julianjupiter.com" class="text-white">Projects (New)</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container d-flex justify-content-between">
                    <a href="/" class="navbar-brand d-flex align-items-center">
                        <img src="/assets/images/logo.png" alt="Julian Jupiter's logo" class="icon icon-lg rounded-circle" style="height:45px;border:4px solid #fff;">
                        &nbsp;<strong>Julian Jupiter</strong>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </header>