<!-- Header -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card header">
                <a href="/"><img id="avatar" class="rounded mx-auto d-block" src="/assets/images/avatar.jpg"></a>
                <div class="card-body">
                    <h5 class="card-title text-center">Julian V. Jupiter</h5>
                    <p class="card-text text-center">["Application Developer", "Cat & Dog Lover", "Hiker"]</p>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 order-first" style="border-right: 1px solid rgba(0,0,0,.125);">
                            <ul id="personal-info" class="text-right" style="list-style: none;padding: 0;">
                                <li>Went to Fullbright College <i class="fas fa-university fa-fw"></i></li>
                                <li>Works at Accenture, Inc. <i class="fas fa-cogs fa-fw"></i></li>
                                <li>Lives in Eastwood City <i class="fas fa-home fa-fw"></i></li>
                                <li>From Puerto Princesa City<i class="fas fa-map-marker-alt fa-fw"></i></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <ul style="list-style: none;padding: 0;">
                                <li><a href="https://www.facebook.com/julianjupiter"><i class="fab fa-facebook fa-fw"></i> Facebook</a></li>
                                <li><a href="https://twitter.com/julianvjupiter"><i class="fab fa-twitter fa-fw"></i> Twitter</a></li>
                                <li><a href="https://www.twitter.com/julianvjupiter"><i class="fab fa-instagram fa-fw"></i> Instagram</a></li>
                                <li><a href="https://github.com/julianjupiter"><i class="fab fa-github fa-fw"></i> GitHub</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>