@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Raleway, Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

.font-family-dm-serif-display {
  font-family: "DM Serif Display", serif;
}

.font-family-russo-one {
  font-family: "Russo One", sans-serif;
}

.font-family-ubuntu {
  font-family: Ubuntu, sans-serif;
}

code {
  font-family: "JetBrains Mono";
}

.astro-code {
  border: 1px solid #ff6600;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 1em !important;
}

.prose {
  :where(code):not(:where([class~="not-prose"] *))::before {
    content: "";
  }
  
  :where(code):not(:where([class~="not-prose"] *))::after {
    content: "";
  }
}
