/* footer settings */
footer {
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #CC4037;
}

footer .container {
	text-align: center;
}

.container .copyright {
  margin: 20px 0;
}
