body {
    font-family: 'PT Mono', monospace;
    padding-top: 0;
}

div#header {
    background-color: #333;
    border-bottom: solid .5em #ccc;
    color: #fff;
    padding: 2em 2em 1em 2em;
}

ul.socialMedia {
  padding-left: 0;
}

ul.socialMedia li {
    display: inline-block;
    list-style-type: none;

}

hr.divider {
    margin: 3rem 0;
}

footer#footer {
    background-color: #868e96;
    border-radius: 0;
    border-top: solid .5em #ccc;
    color: #fff;
    margin-top: 2em;
    padding: 1em;
}
