header#mainHeader {
    color: #343a40;
    padding-top: 1.5rem;
} 

header#mainHeader img {
    border: solid .25rem #343a40;
}

header#mainHeader h1#title {
    font-family: 'UnifrakturMaguntia', cursive;
}

header#mainHeader p#description {
    font-family: 'PT Mono', monospace;
}

hr {
    background-color: #343a40;
}

#menu.nav a {
    color: #343a40;
}

#menu.nav a:hover {
    color: #868e96;
}

#menu.nav a.active {
    background-color: #343a40;
    border-radius: .25rem !important;
    color: #fff;
}

.dropCap {
    float: left; 
    font-size: 50px; 
    line-height: 35px; 
    padding-top: 4px; 
    padding-right: 8px; 
    padding-left: 3px;
}

#content a.postTitle {
    color: #343a40 !important;
}

#content h2 {
    margin-top: 2rem;
}

#menu,
#content,
#footer {
    font-family: 'PT Mono', monospace;
}

#footer {
    margin-top: 3rem;
}