body {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.header {
    margin-bottom: 1.5rem;
    padding-top: 1.25rem;
}

#avatar {
    border-radius: 50% !important;
    border: solid .3rem #666;
}

.card .post:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 1rem;
}

.post-title {
    margin-bottom: 0.25rem;
}

#footer {
    border-radius: .25rem;
    margin-top: 1.5rem;
    padding: 15px 15px;
}

@media (max-width: 768px) {
    #personal-info {
        text-align: left !important;
    }
    #personal-info .fas {
        float: left;
    }
}