<!DOCTYPE HTML> 
  <html lang="en-US"> 
    {% include index.html %} 
    <body> 
    {{ content }} 
        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script id="dsq-count-scr" src="//julianjupitergithubio.disqus.com/count.js" async></script>
    </body> 
</html> 
