---
layout: default
comments: true
---
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">{% unless page.title_hidden %}
            <div style="text-align:center;">
                <h3>{{ page.title }}</h3>
                <p><info datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</info>{% endunless %}
                <a href="{{ post.url }}index.html#disqus_thread" data-disqus-identifier="{{post.url}}"></a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            {{ content }}
        </div>
    </div>
    <!-- End : content-->
    <!-- Begin : Comments -->
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            {% include disqus.html %}
        </div>
    </div>
    <!-- End : Comments -->
</div>
