---
layout: default
comments: true
---
<div class="container">
    <hr class="divider">
    <div class="row">
        <div class="col-sm-8 mx-auto">{% unless page.title_hidden %}
            <div class="text-center">
                <h2>{{ page.title }}</h2>
                <p><info datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</info>{% endunless %} &#124;
                <a href="{{ page.url | prepend: site.github.url }}index.html#disqus_thread" data-disqus-identifier="{{page.url}}"></a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 mx-auto ">
            {{ content }}
        </div>
    </div>
    <!-- End : content-->
    <!-- Begin : Comments -->
    <div class="row">
        <div class="col-sm-8 mx-auto">
            {% include disqus.html %}
        </div>
    </div>
    <!-- End : Comments -->
</div>
