---
layout: default
comments: true
---

<section class="jumbotron text-center">
    <div class="container">{% unless page.title_hidden %}
      <h1 class="jumbotron-heading">{{ page.title }}</h1>
      <p class="lead text-muted"><info datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</info>{% endunless %} &#124;
        <a href="{{ page.url | prepend: site.github.url }}index.html#disqus_thread" data-disqus-identifier="{{page.url}}"></a></p>
    </div>
  </section>
  <div class="album py-5 bg-light">
        <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    <!-- Begin : Comments -->
    <div class="row justify-content-center">
        <div class="col-md-8 mx-auto">
            {% include disqus.html %}
        </div>
    </div>            
    <!-- End : Comments -->