.navbar-summer {
  background-color: #FF9800;
  border-color: #FF9800;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #2196F3;
}
.navbar-summer .navbar-nav > .active > a, 
.navbar-summer .navbar-nav > .active > a:focus, 
.navbar-summer .navbar-nav > .active > a:hover {
  background-color: #FF9800;
}